@import "../../../styles/shared.scss";

* {
    font-size: 2em;
    border-bottom: .5 solid black;
}

label {
    flex: 3;
    margin-left: 10px; 

    &.done {
        color: red;
        text-decoration: line-through;
    }
    
    &::before {
        content: "\2022\00A0";
    }
}

div {
    &#todoRemove {
        color: darkred;
    }
}
